html, body{
	font-family: Arial, sans-serif;
	margin: 0;
	background-color: #ff8080;

}

header{
	background-color: #cc0000;
	background-image: url(https://img.fireden.net/tg/image/1512/76/1512764383208.png);
	background-repeat: repeat;
	padding: 40px;
	text-align: center;

}
h1{
	font-size: 90px;
	color: white;
	text-shadow: 0 4px 20px black;
	margin: 0;
	text-transform: uppercase;

}

header img{
	border-radius: 150px;
	width:300px;
	box-shadow: 0 20px 20px black;
}

.content{
	max-width: 900px;
	margin: 0 auto;
	padding:0 20px;

}

img.big-image{
	max-width: 100%

}


p.caption{
	font-size: 20px;
	color: lightgrey;
	font-style: italic;

}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{ 
	color: red;
	text-decoration: none;
 }

 footer{
 	margin-top: 20px;
 	padding: 40px 20px;
 	background-color: #bfbfbf;
 }
 footer ul{
 	text-align: center;
 }
 footer ul li{
 	display: inline-block;
 	margin: 0 5px;
 }

 h2{
 	background-color: red;
 	color: white;

 }